@import "./_mixins.scss";

.contact__us {
  @include towColunms(20rem, $row-gap: 0);
  align-items: center;
}

.contact__text {
  font-size: var(--font-size-20);
  line-height: 1.8;
}
.contact__email {
  font-weight: var(--font-weight-bold);
  margin: 2.5rem 0;
}

.contact__links {
  transition: 0.3s;
}
.contact__links a {
  margin-left: 0.5rem;
}
.contact__links a:hover {
  transform: scale(1.2);
}

.contact__inputs {
  display: flex;
  gap: 3rem;
}
.contact__input {
  border: 0;
  outline: none;
  background-color: transparent;
  border-bottom: 0.1rem solid var(--color-input-border);
  flex: 1;
}
.contact__textarea {
  width: 100%;
  margin-top: 4rem;
}
.contact__button {
  background-color: var(--color-link-bg);
  color: var(--color-white);
  border-radius: 1rem;
  padding: 1.7rem 1.8rem;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-24);
  margin-top: 3.4rem;
  cursor: pointer;
}
/* End Contact us */
